/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*==========
IMPORTS
==========*/
@import "bootstrap-sprockets";
@import "bootstrap";

/*==========
FONTS
========== */
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,700);

/*==========
LAYOUT
========== */

body {
  /*padding-top: 10px;*/
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background: -webkit-linear-gradient(#5C85AD, #336699); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5C85AD, #336699); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5C85AD, #336699); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5C85AD, #336699); /* Standard syntax */
	height: 30px;
}

.glyphicon {
  background: -webkit-linear-gradient(white, #85A3C2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
  padding-left: 30px;
}

.logo {
  background: -webkit-linear-gradient(white, #85A3C2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-collapse {
	float: left;
	display: block;	
}

.dropdown {
	position: relative;
	overflow: visible;
}

.session-info {
	float: right;	
  background: -webkit-linear-gradient(white, #85A3C2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  padding-top: 15px;
  font-weight: bold;
}

.session-space {
	padding-right: 10px;
}

.post-image {
  border: 1px solid rgba(161,161,161,0.5);
  border-radius: 5px 5px 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.each-post {
  padding: 10px 0 10px 0;
}

.container .navbar .collapse .hidden {
	height: 50px;
}

.alert {
	margin-top: 50px;
	margin-bottom: 0;
	padding: 0;
}

h3 {
	text-align: center;
}

.edit-delete-links {
	float: right;	
}

.post-content {
  border: 1px solid rgba(161,161,161,0.5);
  border-radius: 0 0 5px 5px;	
  width: 502px;
  padding: 0 10px 10px 10px;
  display: block;
  margin-left: auto;
  margin-right: auto 
}

/*Footer*/

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -25px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 25px; 
}
.site-footer {
  /*background: rgba(161,161,161,0.5);*/
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

  background: -webkit-linear-gradient(rgba(161,161,161,0.5), white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(161,161,161,0.5), white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(161,161,161,0.5), white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(161,161,161,0.5), white); /* Standard syntax */
}

